* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}

body {
    max-width: 1551px;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 100px 115px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 26.5px 115.5px;
    align-items: center;
}

nav div ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

nav div ul li a {
    text-decoration: none;
    color: #575757;
}

nav div button {
    background-color: #1d4ed8;
    color: #ffffff;
    padding: 12px 41.5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./assets/banner.jpg");
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    justify-content: center;
}

.hero-text {
    color: #ffffff;
    text-align: center;
}

.hero-text h1 {
    font-size: 80px;
    padding-top: 130px;
}

.hero-text p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
}

.hero-text button {
    background-color: #1d4ed8;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25px 62.5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 280px;
}

main section h2 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 56px;
}

.speaker-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.speciality {
    color: #2563eb;
    font-size: 12px;
    font-weight: 600;
}

.name {
    color: #0d1b2a;
    font-size: 20px;
    font-weight: bold;
}

.designation {
    color: #575757;
    font-size: 14px;
    font-weight: 400;
}

.intro-container {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.intro-container img {
    border-radius: 12px 12px 0 0;
}

.pricing {
    padding-top: 0;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing h2 {
    color: #0d1b2a;
    font-size: 3rem;
    margin-bottom: 12px;
}

#pricing-subtitle {
    text-align: center;
    color: #575757;
    font-size: 1.1rem;
}

.pricing-card-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px 80px;
}

.price-cards {
    background-color: #ffffff;
    padding: 32px;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    width: 320px;
    height: 430px;
    display: flex;
    flex-direction: column;
}

.plan-name {
    font-size: 14px;
    font-weight: 600;
    color: #888888;
    margin-bottom: 8px;
}

.plan-info {
    font-size: 13px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 20px;
}

.common-card h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #0d1b2a;
    margin-bottom: 6px;
}

.pro-card {
    background-color: #0d1b2a;
    border-color: #0d1b2a;
}

.plan-name-pro {
    font-size: 14px;
    font-weight: 600;
    color: #93c5fd;
    margin-bottom: 8px;
}

.plan-info-pro {
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin-bottom: 20px;
    opacity: 50%;
}

.pro-card h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 6px;
}

hr {
    border: none;
    height: 1px;
    background-color: #e5e7eb;
    margin-bottom: 20px;
    opacity: 70%;
}

.price-cards ul {
    padding: 0 16px;
}

.price-cards ul li {
    padding: 8px 0;
}

.common-card ul li {
    color: #333333;
}

.pro-card ul li {
    color: white;
    opacity: 80%;
}

/* I found the li::marker tag from AI */
.common-card li::marker {
    color: #2563eb;
}

.pro-card li::marker {
    color: #60a5fa;
}

.common-button {
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: auto;
}

.standard {
    background-color: white;
    color: #2563eb;
    border: 2px solid #2563eb;
}

.pro {
    background-color: #2563eb;
    color: white;
    border: 2px solid #2563eb;
    box-shadow: 0 0 50px black;
}

.team {
    background-color: #f8f9fb;
    color: black;
    border: 2px solid black;
}

.sponsors {
    padding-top: 0;
    text-align: center;
}

.sponsors h2 {
    font-size: 3rem;
    color: #0d1b2a;
    margin-bottom: 12px;
}

.sponsors-subtitle {
    font-size: 1.1rem;
    color: #575757;
    margin-bottom: 48px;
}

.sponsors-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.sponsor-card {
    background-color: #0d1b2a;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    padding: 48px 20px;
}

.sponsor-icon {
    width: 120px;
    height: 70px;
    color: #e5e7eb;
    font-size: 64px;
    margin-bottom: 6px;
}

.sponsor-card h3 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 0;
}

footer {
    background-color: #0d1b2a;
    padding: 26.5px 115.5px;
}

.footer-items ul p {
    color: #ffffff;
    opacity: 70%;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.footer-items ul li {
    list-style: none;
    margin-bottom: 4px;
}

footer a {
    color: #ffffff;
    opacity: 70%;
    text-decoration: none;
}

.footer-follow-us p {
    color: #ffffff;
    opacity: 70%;
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-icons {
    font-size: 24px;
    color: #ffffff;
}

.copyright {
    color: #ffffff;
    opacity: 70%;
    font-size: 0.85rem;
    margin-top: 24px;
    text-align: center;
}
