* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 26.5px 115.5px;
    align-items: center;
}

nav div ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
}

nav div ul li a {
    text-decoration: none;
    color: #575757;
}

nav div button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 41.5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 110vh;
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;

    display: grid;
    justify-content: center;
}

.hero-text {
    color: #FFFFFF;
    text-align: center;
}

.hero-text h1 {
    font-size: 80px;
    padding-top: 130px;
}

.hero-text p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 16px;
}

.hero-text button {
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25px 62.5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 280px;
}
